# Node.js dependencies
node_modules/
npm-debug.log*
yarn-error.log
pnpm-debug.log
package-lock.json
yarn.lock
pnpm-lock.yaml

# Build outputs
dist/
build/
out/



# Editor & OS files
.idea/
.vscode/
*.swp
*.swo
*.swn
*.bak
*.tmp
*.log
.DS_Store
Thumbs.db

# Env files
.env
.env.local
.env.development
.env.production
.env.test

# Linting & Cache
.eslintcache
.stylelintcache
.cache/
